*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

.maid-container{
    background-image: url("assets/Title-Image.png");
    width: 100vw;
    background-size: cover;
    background-repeat: no-repeat;
}
.top-left-align{
    display: flex;
    flex-direction: row;
    color: white;
}
.top-right-align{
    display: flex;
    flex-direction: row;
    justify-content: end;
}
.btn-align{
    display: flex;
    flex-direction: row;
    margin-left: 20px;
}
.flex{
    display: flex;
    flex-direction: row;
}
.you-img{
    background-image: url("assets/Tile Component-3.png");
    background-size: cover;
    height: 300px;
    width: 300px;
}
.top-10-container{
    display: flex;
    flex-direction: row;
}
.n-size{
    height: 30px;
    width: 90px;
    margin-left: 20px;
    margin-top: 20px;
    margin-right: 20px;
}
.start-text{
    font-weight: bold;
}
.top-left-text{
    margin-top: 23px;
    margin-right: 8px;
}
.top-right-logo{
    font-size: 20px;
    margin-right: 10px;
}
.n-logo{
    height: 30px;
    width: 30px;
    margin-top: 300px;
    margin-left: 20px;
}
.show{
    margin-top: 300px;
    color: white;
    margin-left: 10px;
    font-size: 25px;
}
.maid{
    margin-left: 20px;
    margin-top: 10px;
    font-size: 80px;
    color: white;
}
.down-sec{
    background-color: black;
}
.btn-1{
    color: black;
    border-radius: 8px;
    border-width: 0;
    width: 70px;
    height: 30px;
    margin-right: 10px;
    font-size: 10px;
}
.btn-2{
    border-radius: 8px;
    border-width: 0;
    width: 80px;
    height: 30px;
    margin-right: 10px;
    font-size: 10px;
    background-color: gray;
}

.btn-img{
    height: 12px;
    margin-right: 3px;
}
.see-size{
    font-size: 16px;
    margin-left: 20px;
    margin-right: 8px;
    margin-top: 60px;
}
.add-logo{
    margin-left: 85%;
}
.see-logo{
    height: 20px;
    margin-top: 60px;
}

.see-img{
    height: 170px;
    width: 360px;
    margin-left: -40px;
    margin-top: 10px;
    margin-right: -30px;
}
.see-img2{
    height: 170px;
    width: 350px;
    margin-left: -80px;
}
.align-para{
    position: absolute;
    bottom: -65px;
    left: 20px;
    background-color: red;
    font-size: 14px;
    padding: 3px;
}
.align-badge{
    position: relative;
    top: -145px;
    left: -60px;
}
.top10-heading{
    font-size: 16px;
    margin-left: 20px;
    padding-top: 30px;
}
.number{
    height: 150px;

}
.top-10-img{
    height: 150px;
    margin-right: 30px;
    width: 160px;
}
.now-img{
    margin-left: -100px;
}
.bottom-logo{
    margin-top: 40px;
    margin-bottom: 10px;
    margin-left: 160px;
}
.bot-btn{
    background-color: transparent;
    color: gray;
    border-color: gray;
    padding: 5px;
    margin-top: 15px;
}
.bot-text{
    justify-content: center;
}
.below-txt{
    margin-right: 150px;
    color: gray;
}
.copy{
    color: gray;
    margin-top: 18px;
    padding-bottom: 30px;
    padding-left: 155px;
}
.icon{
    color: gray;
}

@media (max-width: 768px){
    .maid-container{
        width: 1600px;
    }
    .down-sec{
        background-color: black;
        width: 1600px;
    }
    
}